body {
  background-image: linear-gradient(to right, rgba(120,134,146,1), rgba(25,30,36,1));
}

.hero-category {
  width: 60%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.hero-container {
  width: 80%;
  margin: auto;
  margin-bottom: 50px;
}

.type {
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  display: none;
}

.hero-type {
  background-color: transparent;
  border: none;
  width: 30%;
  display: flex;
  justify-content: center;
  font-family: Trajan;
  border-radius: 10px;
  color: white;
  padding: 10px 25px;
}

.hero-type img {
  width: 40px;
  height: 40px;
  margin-right: 15px;
}

.hero-type:hover, .hero-type.active {
  text-decoration: underline;
  color: #000;
  
}

/* Hero Library */
.hero-card {
  margin-top: 30px;
  position: relative;
  width: 50%;
  max-width: 300px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 8px 8px;
}

.hero-card:hover {
  box-shadow: rgba(255, 255, 255, 0.24) 5px 5px 5px;
  transform: scale(1.10);
  z-index: 2;
}

.hero-img {
  display: block;
  width: 100%;
  height: auto;
}

.hero-name {
  font-family: Trajan;
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: #fff;
  font-size: 20px;
  padding: 20px;
  text-align: center;
  box-sizing: border-box;
}

.hero-card:hover .hero-name {
  opacity: 1;
}
/* End Hero Library */

@media screen and (max-width: 800px) {
  .choose-type {
    flex-direction: column;
  }
  .hero-type {
    margin-top: 10px;
  }
}