/* Import Font */
@font-face {
  font-family: Trajan;
  src: url(../assets/Trajan.otf);
}

@font-face {
  font-family: Roboto-Regular;
  src: url(../assets/RobotoCondensed-Regular.ttf);
}

/* Global */
* {
  margin: 0;
}

body {
  background-image: linear-gradient(to top, rgba(0,0,0,0), rgba(0,0,0,0.5)), url(../assets/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow-x: hidden;
}

.btn {
  text-decoration: none;
  color: #000 !important;
  font-family: Trajan;
  text-transform: uppercase;
  padding: 10px;
  background-color: #fff;
  border: 3px solid #ff1100;
  text-shadow: 1px 1px #000;
  border-radius: 10px;
}

.btn:hover {
  background-color: #000;
  color: #fff !important;
  text-shadow: 1px 1px #fff;
}
/* End Global */

/* Logo Doto-2 */
.logo-doto {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.logo-doto img {
  padding: 10px;
  width: 50px;
  height: 50px;
  float: left;
}
/* End Logo Doto-2 */

/* Navbar */
.nav {
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}

.nav ul {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav ul li {
  list-style: none;  
}

.nav ul li a {
  text-decoration: none;
  color: #fff;
  font-family: Trajan;
  text-transform: uppercase;
  text-shadow: 1px 1px #000;
}

.nav-link:hover::after {
  content: '';
  display: block;
  border-bottom: 3px solid #ff1100;
  width: 50%;
  margin: auto;
}

.nav-link.active {
  color: #000;
}

.nav-link.active:hover::after {
  content: '';
  display: block;
  border-bottom: none;
}

.menu-toggle {
  position: relative;
  display: none;
  flex-direction: column;
  height: 25px;
  justify-content: space-between;
  align-items: center;
}

.menu-toggle span {
  width: 30px;
  height: 5px;
  border-radius: 3px;
  background-color: #ff1100;
}

.menu-toggle input {
  position: absolute;
  width: 31px;
  height: 28px;
  cursor: pointer;
  opacity: 0;
}
/* End Navbar */

/* Slideshow */
.slide-container {
  width: 60%;
  height: 500px;
  margin: auto;
  border: 3px solid #000;
}

.slide-img img {
  width: 100%;
}

.slide-img {
  display: none;
}

.indicator-container {
  text-align: center;
}

.indicator {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 5px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.indicator:hover, .active-indicator {
  background-color: #000;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
/* End Slideshow */

/* About */
.about {
  margin-top: 75px;
  height: 300px;
  background-color: #000;
}

.about:hover {
  background-image: linear-gradient(to top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../assets/about-bg.gif);
  transition: all .3s;
  background-position: top;
  background-size: cover;
  background-attachment: fixed;
}

.content {
  padding: 75px;
  text-align: center;
  width: 60%;
  margin: auto;
}

.content h1 {
  color: #fff;
  font-family: Trajan;
  text-transform: uppercase;
  font-size: 50px;
}

.content p {
  color: white;
  font-family: Roboto-Regular;
  font-size: 15px;
  text-shadow: 1px 1px #000;
}
/* End About */

/* Join Us */
.join {
  background-image: url(../assets/playnow-bg.gif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
}

.join .content {
  width: 35%;
  padding-top: 150px;
}
/* End Join */

/* Footer */
.footer-container {
  width: 100%;
  background-color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.connect {
  flex: 1;
  color: #fff;
  font-family: Trajan;
  text-align: center;
  text-transform: uppercase;
}

.socials {
  margin-top: 25px;
  display: flex;
  width: 40%;
  margin: auto;
  align-items: center;
  justify-content: space-between;
}

.col1, .col2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.social-logo {
  margin-top: 10px;
  width: 50px;
  height: 50px;
  border-radius: 10px;
}

.copyright {
  flex: 2;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 30%;
  margin: auto;
}

.logo-bj {
  width: 75px;
  height: 75px;
}

.footer-content {
  margin-top: 25px;
  color: #fff;
  text-align: center;
  padding: 0 200px;
}

.contact-us {
  flex: 1;
  color: white;
  font-family: Trajan;
  text-transform: uppercase;
}

.form {
  margin-top: 10px;
  background-color: #bbb;
  width: 80%;
  border: 1px solid black;
  border-radius: 10px;
  height: 25px;
}

#message {
  height: 75px;
}

.send-logo {
  width: 25px;
  height: 25px;
}

.send-btn {
  margin-top: 10px;
  float: right;
  margin-right: 70px;
}
/* End Footer */

/* Responsive Design */
@media screen and (max-width: 800px) {
  body {
    background-position: center;
  }

  /* logo doto */
  .logo-doto h1 {
    font-size: 25px;
  }

  /* navbar */
  .nav {
    width: 75%;
  }
  .menu-toggle {
    display: flex;
  }
  .nav ul {
    position: absolute;
    right: 0;
    top: 0;
    flex-direction: column;
    background-image: linear-gradient(to bottom, rgb(104, 104, 104, 0.8), rgb(82, 82, 82));
    height: 80vh;
    width: 100%;
    justify-content: space-evenly;
    z-index: 1;
    transform: translateY(-100%);
    opacity: 1;
    transition: all 1s;
  }
  .nav ul.show {
    transform: translateY(13%);
  }

  /* Slideshow */
  .slide-container {
    border: none;
    box-shadow: rgba(0, 0, 0, 0.5) 8px 8px 8px;
  }
  .indicator {
    width: 10px;
    height: 10px;
  }

  /* About */
  .about {
    height: 500px;
  }
  .about:hover  {
    background-image: none;
  }
  .content h1 {
    font-size: 40px;
  }
  .content p {
    font-size: 15px;
  }

  /* Join Us */
  .footer-container {
    padding: 0 !important;
  }
  .join .content {
    margin-top: 10px;
    padding: 100px;
  }
  .join .content h1 {
    font-size: 30px;
  }
  .footer-container {
    flex-direction: column;
    padding: 25px;
  }
  .socials {
    flex-direction: column;
  }
  .col1, .col2 {
    flex-direction: row;
    justify-content: space-between;
    width: 200px;
  }
  .logo {
    margin-top: 50px;
    flex-direction: column;
  }
  .footer-content {
    padding: 0px 100px;
  }
  .contact-us {
    margin-top: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .send-btn {
    margin-right: 0px;
    margin-bottom: 25px;
  }
}